html
{
	
}

body 
{
    background-color: white;
    margin: 8px;
} 
table
{
	border-collapse: collapse;	
	align: center;
}
th, td
{
	border: 1px solid;
	text-align: left;	
	padding: 5px;
	padding-right: 15px;
	font-family: "Arial";
}

th
{
	background-color: #4CAF50;
	border-color: black;
	color: white;
}

td:nth-child(1)
{
	font-weight: bold;
}

tr:nth-child(even)
{
	background-color: #f2f2f2;
}

h1
{
	font-family: "Arial";
	size: "48dp";
	opacity: 0.9;
	font-size: 1.5em;
	text-align: left;
}
collapse
{
	float:left;
}
